.prestamo-section {
    background-color: #f5f5f5;
    padding: 10px;
}

.prestamo-paragraph {
    color: rgb(117, 117, 117);
    font-size: 14px;
}

.prestamo-section .select-wrapper {
    background-color: white;
}