.form-input {
    border-radius: 3px;
}

.form-label {
    color: rgb(105, 105, 105);
}

.passenger-section-title {
    background-color: rgb(57, 111, 165);
    color: white;
    font-weight: bold;
    padding: 5px;
}

button[type='submit'].passenger {
    background-color: rgb(57, 111, 165);
    width: 100%;
}

.passenger-radio .radio-item {
    color: rgb(57, 111, 165);
}