* {
  font-family: "Oxygen";
}

.container {
    width: 70%;
    margin: 0 auto;
}

button[type='submit'] {
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #454545;
  color: white;
}

button[type='submit']:hover {
  cursor: pointer;
}